## Librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import requests

In [42]:
import datetime
from datetime import datetime, timedelta

In [40]:
import pandas_datareader as pdr

In [29]:

from pandas_datareader import data
from pandas_datareader._utils import RemoteDataError

## Datos

In [15]:
start_date = (datetime.now()-timedelta(50)).strftime('%y-%m-%d')
end_date = datetime.now().strftime('%y-%m-%d')

In [110]:
start_date = '2018-01-01'
end_date = '2021-07-16'

In [86]:
stock = 'AMZN'

In [111]:
def get_data(ticker):    
    try:
        stock_data = data.DataReader(ticker, 'yahoo', start_date, end_date)
        return stock_data
    except:
        print(f'No se encontraron datos para: {ticker}')

In [112]:
get_data(stock)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-01-02,1190.000000,1170.510010,1172.000000,1189.010010,2694500,1189.010010
2018-01-03,1205.489990,1188.300049,1188.300049,1204.199951,3108800,1204.199951
2018-01-04,1215.869995,1204.660034,1205.000000,1209.589966,3022100,1209.589966
2018-01-05,1229.140015,1210.000000,1217.510010,1229.140015,3544700,1229.140015
2018-01-08,1253.079956,1232.030029,1236.000000,1246.869995,4279500,1246.869995
...,...,...,...,...,...,...
2021-07-12,3757.290039,3696.790039,3744.000000,3718.550049,2571600,3718.550049
2021-07-13,3773.080078,3671.320068,3702.100098,3677.360107,3840500,3677.360107
2021-07-14,3717.659912,3660.830078,3708.850098,3681.679932,3296600,3681.679932
2021-07-15,3695.399902,3620.919922,3694.199951,3631.199951,3185300,3631.199951
2021-07-16,3646.060059,3570.459961,3633.310059,3573.629883,4038400,3573.629883